.box{
    height:42vh;
    background: #FFFFFF;
    border-radius: 3em;
}

.top{
    height: 3em;
    background-color: #24576A;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
<<<<<<< HEAD
    font-size: 2.8vh;
=======
    font-size: 1em;
>>>>>>> ece5956588dcf52160235627e15542a8ccedec3d
    font-weight: 700;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.content{
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    font-family: Red Hat Display;
    font-weight: 700;
<<<<<<< HEAD
    font-size: 3.5vh;
    margin: 1vh;
=======
    font-size: 1.25em;
    margin: 3vh;
>>>>>>> ece5956588dcf52160235627e15542a8ccedec3d
}
.subheader{
    font-family: Red Hat Display;
    font-weight: 700;
    font-size: 2.2vh;
}
.description
{
<<<<<<< HEAD
    font-size: 2vh;
=======
    font-size: 0.8125em;
>>>>>>> ece5956588dcf52160235627e15542a8ccedec3d
    font-weight: 400;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;

}
.dates{
    width: fit-content;
}
.date{
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin-top: 15px;
    text-align: left;
}
.number{
    font-family: Red Hat Display;
    font-size: 30px;
    font-weight: 500;
    color:#19BAA8;
}
.restdate{
    margin-left: 10px;
    font-size: 12px;
}
.month{
    font-weight: 700;
}
.bottom{
    display: flex;
    flex-direction: row;
}
.dotted{
    margin-top: 30px;
    margin-right: 20px;
}
.image{
  transform: translate(65%,25%);
}
.lower{
<<<<<<< HEAD
    padding: 3.5vh 1.5vw 2vh 2vw; 
    height: 7vh;
=======
    padding:1.2em 1.5em 0; 
    height: 42vh;
>>>>>>> ece5956588dcf52160235627e15542a8ccedec3d
}

.lower .text{
    font-size: 2.5vh;
}

.des-f-svg{
    height: 17vh;
}