.ql-container {
  font-family: Open sans !important;
  z-index: 2;
  border-radius: 30px;
  width: 91%;
  margin-top: 1vh !important;
}

.ce-message-bubble,
.ce-my-message-bubble {
  font-family: Open sans;
  background-color: #24576a !important;
  font-size: 2.4vh !important;
  padding: 1.5vh !important;
}

.ql-toolbar {
  display: none;
}

/* #ce-send-message-button {
  background-color: crimson !important;
  position: 120px 200px;
  display: inline;
} */

.toolbar {
  display: none;
}

.ce-chat-title {
  display: none !important;
}

.ce-feed-container-top {
  height: 10px !important;
}

/* ----------------------------------------------------------------------- */

.chat__title {
  font-family: Red Hat Display;
  font-size: 3.5vh;
  font-weight: bold;
  border-bottom: 1.5px solid #949494;
  margin: 1vh 2vh 0;
}

.chat__button__cover {
  z-index: -1;
  display: flex;
  justify-content: flex-end;
  transform: translateY(-125%);
  padding-left: 1em;
}

.chat__button {
  border: none;
  background-color: white;
  color: #24576a;
}

.chat__switch__cover {
  position: relative;
  margin: 2vh 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.chat__switch {
  width: 10vw;
  font-size: 3vh;
  border: none;
  color: white;
  border-radius: 40px;
  padding: 2vh;
}

.chat__client {
  background-color: #19baa8;
}

.chat__admin {
  background-color: #24576a;
}

.ce-message-date-text {
  font-size: 2vh !important;
  font-style: italic;
}

.ce-their-message-bubble {
  color: white !important;
}

ce-message-timestamp ce-my-message-timestamp {
  font-size: 2vh;
  font-style: italic !important;
}
