.details{
    background-color: white;
    border-radius: 4px;
    padding: 2vh 0;
    max-height: 40vh;
    overflow: scroll;
}

.header,.group{
    margin: 2vh 2vw;

}



.main_title, title{
    font-family: Red Hat Display;
}

.main_title{
    font-size: 4vh;
    font-weight: 600;
    letter-spacing: .1em;
}

.title{
    font-size: 3vh;
    font-weight: 600;
}

.main_desc, .desc{
    font-family: Open sans;
}

.main_desc{
    font-size: 3vh;
}

.desc{
    font-size: 3vh;
}


.notifications{
    margin: 2vh 0;
    background-color: white;
    border-radius: 4px;
    padding: 3vh 2vw;
}

.sub_title{
    font-size: 2.5vh;
    font-weight: 600;
    margin-top: 1.7vh;
}

.push{
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
}

.notif{
    width: 16vw;
    height: 6.5vh;
}

.notif_p{
    border: none;
    height: 6.5vh;
    width: 3vw;
    background-color: #19BAA8;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.button{
    margin-top: 2vh;
    border: none;
    padding: 1vh 1vw;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.cbut,.dbut{
    background-color: white;
    border: 2px solid #19BAA8;
}

.cbut:hover,.dbut:hover{
    background-color: #19BAA8;
}
