.Sidebar {
  background-color: #fafafa;
  height: 100vh;
  position: fixed;
  z-index: 100;
}
/* .Redirect {
  padding-left: 11vh;
  background-color: #c4c4c42c;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */
.RedirectNested {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70vw;
  height: 80vh;
  background: white;
  border-radius: 5vh;
  margin: 8vh 10vw 5vh 10vw;
}
.header {
  font-size: 3vh;
  font-weight: bolder;
  margin-bottom: 7vh;
}
.subheader {
  font-size: 2vh;
  color: grey;
  margin-top: 6vh;
}
