.ql-editor {
    color: blue;
    width: 80%;
}
.ql-container {
    border-radius: 10px;
    width: 80%;
}

.ce-message-bubble {
    background-color: rgb(24, 144, 25) !important;
}
.ce-my-message-bubble {
    background-color: coral !important;
}

.ql-toolbar  {
    display: none;
}



#ce-send-message-button{
    background-color: crimson !important;
    position: 120px 200px;
    display: inline;
}
.toolbar {
    display: none;
}

#client  {
    display:inline;
    width:12vw;
    padding:5px;
    border-Radius:15px;
    border:none;
    right:10px;
    margin-right: 15px;
    background:hsla(199, 55%, 60%, 0.431)
}

#admin {
    width:12vw;
    padding:5px;
    border-Radius:15px;
    border:none;
    background:hsla(199, 55%, 60%, 0.431)
}

.ce-chat-title {
    display: none !important;
}

.ce-feed-container-top{
    height:10px !important;
}