.loginParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login {
  display: flex;
  flex-direction: column;

  justify-content: flex-start !important;

  width: 677px !important;
  height: 764px !important;

  padding-top: 72px;

  background: #ffffff;
  box-shadow: 0px 4px 24px rgba(30, 31, 30, 0.08);
  border-radius: 8px;
}

#textA {
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 54px;
  /* identical to box height, or 112% */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #1e1f1e;

  width: 507px;
  height: 54px;
}

#textB {
  font-family: Open Sans;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 167% */

  color: #1e1f1e;
  padding-bottom: 104px;
}

.inputText {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  /* identical to box height, or 125% */

  color: #1e1f1e;

  margin: 5px;
}

.inputInput {
  width: 488px;
  height: 54px;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 5px;
}

.inputInput::placeholder {
  font-family: Open Sans;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */

  color: #1e1f1e;
  padding: 10px;
}

#loginBtn {
  background: #00b4b3;
  border-radius: 4px;
  width: 385px;
  height: 54px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 30px;
}

#loginBtnText {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */

  color: #ffffff;
}

.spacing {
  padding-bottom: 30px;
}
