.first{
<<<<<<< HEAD
    
    top: 0%;
=======
    height: 100%;
>>>>>>> 1fe9090249b7dc9848dc654a563745a01818a3ac
    width: 21vw;
}

.second{
    top: 0%;
    width: 27vw;
}

.third{
    margin-left: 2% ;
    width: 14vw;
}

.fourth{
     width: 28vw;
     margin-left: 10px;
}
.outercontainer{
    
    display: flex;
    flex-direction: row;

    margin-left:7vw ;
    
}
    

.Sidebar{
    background-color: #FAFAFA;
    height: 100vh;
    position: fixed;
    z-index: 100;
}
.maincontainer{
    display: flex;
    flex-direction: row;
}

