.first{
    
    
    width: 21vw;
}

.second{
    
    width: 27vw;
    margin: 10px;
}

.third{
    
    width: 14vw;
    margin-top: 50px;
}

.fourth{
     width: 21vw;
     margin-top: 50px;
     margin-left: 10px;
}
.outercontainer{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 2vw;
    
}

