.Sidebar{
    background-color: #949292;
    height: 100vh;
    position: fixed;
    z-index: 100;
}
.main_container1{
    height: 100vh;
    background-color: #c4c4c42c;
    display: flex;
    flex-direction: row;
}
.Profile{
    margin-top: 9vh;
    margin-left: 7vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.box{
    width: 43vw;
    height: 80vh;
    margin-top: 2vh; 
    margin-bottom: 2vh; 
    margin-left: 5vh; 
    margin-right: 5vh; 
    background-color: white;
    border-radius: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.row{
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.inputs{
   
    margin-left:1vw;
    margin-right:1vw;
    margin-bottom: 2vh;
    
    display: flex;
    flex-direction: row;
    align-items: center;

}
.inputboxmain{
    width: 16vw;
    margin-top: 1vh;
    border-radius: 5px;
    margin-top: 1.4vh;
    height: 5vh;
    border: 0.3vh solid rgba(128, 128, 128, 0.541);
    border-radius: 0.8vh;
    padding: 2vh 0 2vh 1.6vh;


}
.inputboxcompany{
    width: 34.5vw;
    margin-top: 1vh;
    border-radius: 5px;
    margin-top: 1.4vh;
    height: 5vh;
    border: 0.3vh solid rgba(128, 128, 128, 0.541);
    border-radius: 0.8vh;
    padding: 2vh 0 2vh 1.6vh;
    font-size: 2.3vh;


}
.input2{
    margin-left: 2vw;
}
.headinput{
    font-size: 1.8vh;
    font-weight: 600;
    padding-left: 0.4vh;
    font-family: Open Sans;
}
.boxheader{
    font-size: 3.6vh;
    font-family: Red Hat Display;
    font-weight: 500;
    text-align: left;
    padding: 1vh 0 0;
    margin-left:1vw;
    margin-right:1vw;
    margin-bottom:10vh;
    position: absolute;
    top: 16vh;
}
.boxheader1{
    font-size: 3.6vh;
    font-family: Red Hat Display;
    font-weight: 500;
    text-align: left;
    padding: 1vh 0 0;
    margin-left:1vw;
    margin-right:1vw;
    margin-top: -5vh;
    margin-bottom: 5vh;
}
.boxheader3{
    font-size: 3.6vh;
    font-family: Red Hat Display;
    font-weight: 500;
    text-align: left;
    padding: 1vh 0 0;
    margin-left:1vw;
    margin-right:1vw;
    margin-top: -30vh;
    margin-bottom:3vh;
    bottom: 33.5vh;
}
.innerbox{
    width: 40vw;
    height: 39vh;
    margin-top: 2vh; 
    margin-bottom: 2vh; 
    margin-left: 5vh; 
    margin-right: 5vh; 
    background-color: white;
    border-radius: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 5vh;
    padding-top: 10vh;
    font-size: 3.5vh;
}
.inputboxmain{
    font-size: 2.2vh
}
.fileupload{
    position: absolute;
    right: 8vh;
    bottom: 8vh;

}
.svg{
    height: 5vh;
    width: 5.1vh;
}
.photoUpload{
    height: 22vh;
    width: 22vh;
}
.pencilsvg{
    height: 2vh;
    width: 2vh;
}
.uploadBtn{
    display: none;
}
@media screen and (max-width: 500px) {
    .Sidebar{
        height: fit-content;
        width: 100vw;
    }
    .Profile{
        flex-direction: column;
        height: fit-content;
        margin-left: 0vw;
    }
    .innerbox{
        height: fit-content;
    }
    .box{
        width: 100vw;
        height: fit-content;
        margin-left: 0vh; 
        margin-right: 0vh; 
        margin-top: 15vh;
    }
    .main_container1{
        height: fit-content;
        flex-direction: column;
    }
    .boxheader{
        display: none;
    }
    .photoUpload{
        transform: translateY(-10vh);
        margin-bottom: -10vh;
    }
    .filetitle{
        display: none;
        
    }
    .inputboxmain{
        width: 45vw;
        border: 0.2vh solid rgba(128, 128, 128, 0.541);
        font-size: 2vh;
    }
    .inputs{
        margin: 1vh;
    }
    .inputboxcompany{
        width: 90vw;
        border: 0.2vh solid rgba(128, 128, 128, 0.541);
        font-size: 2vh;
    }
    .innerbox{
    width: 100vw;
    min-height: fit-content;
    margin-top: 0vh; 
    margin-bottom: 2vh; 
    margin-left: 0vh; 
    margin-right: 0vh; 
    background-color: white;
    border-radius: 0vh;
    border-bottom-left-radius: 5vh;
    border-bottom-right-radius: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 1vh;
    padding-top: 5vh;
    padding-bottom: 4vh;
    font-size: 3.5vh;
}
.box{
    margin-bottom: 0vh;
}
.boxheader1{
    font-size: 2.7vh;
    font-weight: bolder;
    margin-bottom: 3vh;
    margin-left: 1.5vh;
    margin-top: 2vh;


}
.boxheader3{
    margin-top: -1.5vh;
}
.fileupload{
    display: none;
}
.uploadBtn{
    position: relative;
    bottom: 0;

    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  
    width: 10vh;
    height: 5vh;
    border-radius: 2vh;
    background-color: #20C1EF;
}
}