.container{
    background-color: white;
    border-radius: 4em;
    padding: 3vh 3vw;
    margin:  2vh;
    height: 75vh;
}
.image_cover{
    display: flex;
    justify-content: center;
    position: relative;
}

.image{
    border-radius: 50%;
    height: 27vh;
    width: 27vh;
}

.pencil{
    position:absolute;
    bottom: 10%;
    right:25%
}

.user{
    padding: 3vh 0 1vh;
}
.special{
    padding: 2vh 0;;
}

.main_title{
    font-family: Red Hat Display;
    font-weight: bold;
    font-size: 4vh;
    text-align: center;
    margin-bottom: 1vh;
}



.title{
    font-family : Open sans; 
    font-size: 3vh;
}
.input_cover{

    margin: 2vh auto;
}

.profile_input{
    width: 100%;
    height: 2em;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 1.5vw;
    font-family : Open sans; 
    font-size: 2.7vh; 
}