.data{
    margin: 10% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cover{
    display: flex;
    justify-content: center;
    margin: 4.1vh 0 0;
    width: 100%;
}

.title{
    font-family: Red Hat Display;
    font-size: 2.3vh;
    font-weight: 500;
}

.complete{
    background-color: #20C1EF;
    border: 1px solid #20C1EF;
    width: 60%;
    height: 5.5vh;
    color: white;
    border-radius: 0.8vh;
    transition: 0.2s ease-in-out;
    font-size: 2.3vh;
}

.complete:hover{
    background-color: white;
    color:  #20C1EF;
}

.proceed{
    background-color: white;
    border: 0.2vh solid black;
    width: 60%;
    font-size: 2.3vh;
    height: 5.5vh;
    color: black;
    border-radius: 0.8vh;
    transition: 0.2s ease-in-out;
}

.proceed:hover{
    border: 0.2vh solid #20C1EF;;
    color:  #20C1EF;
}
@media screen and (max-width:550px){
    .cover{
        position:relative;
        width: 120%;
    }
}
