.data{
    margin: 10% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cover{
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    width: 100%;
}

.title{
    font-family: Red Hat Display;
    font-size: 1.1em;
    font-weight: 500;
}

.complete{
    background-color: #20C1EF;
    border: 1px solid #20C1EF;
    width: 60%;
    height: 2.7em;
    color: white;
    border-radius: 4px;
    transition: 0.2s ease-in-out;
}

.complete:hover{
    background-color: white;
    color:  #20C1EF;
}

.proceed{
    background-color: white;
    border: 1px solid black;
    width: 60%;
    height: 2.7em;
    color: black;
    border-radius: 4px;
    transition: 0.2s ease-in-out;
}

.proceed:hover{
    border: 1px solid #20C1EF;;
    color:  #20C1EF;
}