.container {
  width: 100%;
}

.line {
  width: 100%;
  margin: 7em auto 3em;
  text-align: center;
  color: rgba(25, 186, 168, 1);
  font-size: 3vh;
}

@media screen and (max-width: 700px) {
  .line {
    margin: 2em auto;
  }
}
