.data {
  margin: 10% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cover {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 3vh;
}

.title {
  font-family: Red Hat Display;
  font-size: 3.5vh;
  font-weight: 500;
}

.complete {
  background-color: rgba(25, 186, 168, 1);
  border: 1px solid rgba(25, 186, 168, 1);
  width: 22vw;
  height: 8vh;
  color: white;
  border-radius: 4px;
  transition: 0.2s ease-in-out;
  margin-top: 2.5vh;
}

.complete:hover {
  background-color: white;
  color: rgba(25, 186, 168, 1);
}

.proceed {
  background-color: white;
  border: 1px solid black;
  width: 22vw;
  height: 8vh;
  color: black;
  border-radius: 4px;
  transition: 0.2s ease-in-out;
  margin-top: 6vh;
}

.proceed:hover {
  border: 1px solid rgba(25, 186, 168, 1);
  color: rgba(25, 186, 168, 1);
}

.errorMessage {
  text-align: center;
  font-size: 2.5vh;
}

@media screen and (max-width: 500px) {
  .complete {
    width: 80%;
  }

  .proceed {
    width: 80%;
  }

  .errorMessage {
    font-size: 0.7em;
  }
}
