.des-d-f-container{
    overflow-y: scroll;
    height: 100%;
}
.des-d-f-container::-webkit-scrollbar{
    display: none;
}

.des-d-f-update{
    font-style: Red Hat Display;
    border: #24576A 1px solid;
    background-color:  rgba(36, 87, 106, 1);
    color: white;
    line-height: 1.5em;
    margin : .5em 0;
    padding: 0.5em 1em;
    border-radius: 2em;
    text-align: justify;
}

.des-d-f-title{
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}