.navbar {
  width: 100%;
  display: flex;
}
.part1 {
  display: flex;
  flex-grow: 1;
}
.part2 {
  display: flex;
}
.navbar > div {
  margin: 10px;
}
.part1 > div {
  margin: 10px;
  margin-right: 50px;
}
.part2 > div {
  margin: 10px;
}

.navA {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #1e1f1e;

  display: flex;
  justify-content: center;
  align-items: center;
}
.navB {
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 167% */
  text-transform: uppercase;

  color: #00b4b3;

  display: flex;
  justify-content: center;
  align-items: center;
}

#navE{
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 50px;
}
