.header {
  text-transform: uppercase;
  font-size: 4.8vh;
  font-family: Red Hat Display;
  font-weight: 500;
  text-align: center;
  padding: 2vh 0 0;
}

.checkbox_cover {
  display: flex;
  justify-content: space-between;
}

.left {
  width: 50%;
}

.check {
  margin-right: 2vw;
}

label {
  font-weight: 500;
  color: black;
}

.checkbox {
  height: 3vh;
  width: 3vh;
  margin-right: 5vw;
}

.right {
  width: 50%;
}

.input {
  width: 100%;
  height: 6.5vh;
  font-size: 2.5vh;
  border: 1.5px solid #c4c4c4;
  border-radius: 4px;
  padding-left: 1.5vw;
}

.work_input {
  display: flex;
  justify-content: space-between;
  font-size: 2vh;
  margin: 0.5em 0;
}

.work_left {
  width: 38%;
}
.work_right {
  width: 60%;
}

.titles {
  margin-bottom: 1vh;
}

.multiselect {
  width: 100%;
}

.selectBox {
  position: relative;
}
.selectBox input {
  position: relative;
  width: 100%;
  height: 6vh;
  border-radius: 5px;
  border: 1px solid black;
}

.selectBox::after {
  content: url(tick.svg);
  position: absolute;
  top: -0.5vh;
  right: 1vw;
  font-size: 4vh;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.checkboxes {
  position: absolute;
  border: 1px #19baa8 solid;
  background-color: white;
  width: 30vw;
  overflow-y: hidden;
  overflow: scroll;
  height: 20vh;
}

.hide {
  display: none;
}
.show {
  display: block;
}

.checkboxes label {
  display: flex;
  justify-content: space-between;
  padding: 1vh 1vw;
  font-size: 2.5vh;
}

.checkboxes label:hover {
  background-color: #1e90ff;
}

.checkme {
  height: 3vh;
  width: 3vh;
}

.next {
  height: 4em;
  width: 3em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 20%;
  top: 50%;
  border-radius: 5px;
  border: 1px solid lightseagreen;
  background-color: white;
  transition: 0.2s;
  box-shadow: 0px 4px 8px rgba(30, 31, 30, 0.08);
}
.next:hover {
  background-color: lightseagreen;
  color: white;
}

.next:hover > .arrow_right path {
  stroke: white;
}

@media screen and (max-width: 500px) {
  .checkboxes {
    position: absolute;
    border: 1px #19baa8 solid;
    background-color: white;
    width: 92%;
    overflow-y: hidden;
    overflow: scroll;
    height: 20vh;
  }

  .next {
    top: 85%;
    left: 50%;
    width: 2.5em;
    height: 2.5em;
    border: 1px solid lightseagreen;
    background-color: lightseagreen;
    box-shadow: 0px 2px 4px lightseagreen;
  }

  .next > .arrow_right path {
    stroke: white;
  }
}
