.slider{
    width: 85%;
 margin: 3vh auto;
}

.desc{
    font-size: 2vh;
    padding-left: 1vw;
}

.input_cover{
    margin-top: 5vh;
}

.resume_cover{
    width: 100%;
    margin-top: 1vh;
    border: 2px dashed #C4C4C4;
    display: flex;
    justify-content: center;
    padding: 1.5vh 0;
    border-radius: 8px;
}

.resume{
    margin-left: 1vw;
    font-size: 2.2vh;
    color: #C4C4C4;
}

.or{
    text-align: center;
    color: rgb(165, 158, 158);
    margin: 1vh auto;
}

.resume_input_cover{
    width: 100%;
}

.profile_input{
    width: 100%;
    height: 7vh;
    padding-left: 2vw;
}

.profile_input::placeholder{
    font-size: 0.9em;
    font-style: italic;
}
.verify_cover{
    width: 100%;
    display: flex;
    justify-content: space-between;
}