.navbar {
  width: 90vw;
  display: flex;
  position: absolute;
  top: 0;
  height: 5vh;
  z-index: 10;
  margin: 0 5vw 0 10vw;
}
.part1 {
  display: flex;
  flex-grow: 1;
}
.part2 {
  display: flex;
}
.navbar > div,.part1 > div,.part2 > div {
  margin-right: 50px;
}


.navA {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 2vh;
  color: #1e1f1e;

  display: flex;
  justify-content: center;
  align-items: center;
}
.navB {
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: bold;
  font-size: 2vh;
  /* identical to box height, or 167% */
  text-transform: uppercase;

  color: #00b4b3;

  display: flex;
  justify-content: center;
  align-items: center;
}

#navE {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.toggle-button {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

/* change the navbar wheh the screen shrinks */

@media (max-width: 1000px) {
  .toggle-button {
    display: flex;
  }

  .navA {
    display: none;
  }
  .navB {
    display: none;
  }
  #navE {
    display: none;
  }
}
