.navbar {
  width: 90vw;
  display: flex;
  position: absolute;
  top: 0;
  height: 5vh;
  z-index: 10;
  margin: 0 5vw 0 10vw;
}
.part1,.part2 {
  display: flex;
}

.navbar > div,.part1 > div,.part2 > div {
  margin-right: 3vw;
}


.navA {
  font-family: Open Sans;
  font-style: normal;

  font-size: 2.3vh;
  color: #1e1f1e;

  display: flex;
  justify-content: center;
  align-items: center;
}

.navA button, .navB button, .navE button, .navLogo button{
  font-weight: 800;
  border: none;
  font-size: 2.3vh;
  background-color: inherit;
  transition: 0.2s step-start;
}

.nav-logo-button{
  width: 10vw;
}

.navB button{
  color:rgba(25, 186, 168, 1)
}

.navA button:hover{
  border-bottom: 2px solid rgba(25, 186, 168, 1);
}

.navB button:hover{
  color: rgba(25, 186, 168, 1) ;
  border: 2px solid rgba(25, 186, 168, 1);
}

.navB {
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: bold;
  font-size: 2.2vh;
  /* identical to box height, or 167% */
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navE {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 1vw; */
}

.toggle-button {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

/* change the navbar wheh the screen shrinks */

@media (max-width: 1000px) {
  .toggle-button {
    display: flex;
  }

  .navA {
    display: none;
  }
  .navB {
    display: none;
  }
  #navE {
    display: none;
  }
}
