.des-profile-container{
    height: 83vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.des-profile-per{
    margin-top: 7vh;
    height: 67vh;
    width: 37vw;
}

.des-profile-pro{
    
    margin-top: 7vh;
    height: 67vh;
    width: 37vw;
}

.des-pro-but-cover{
    padding: 5vh 14vw 2vh;
    display: flex;
    justify-content:flex-end;
}

.des-pro-but{
    font-family: Red Hat Display;
    font-size: 2.2vh;
    border: none;
    border-radius: 5px;
    background-color: #19BAA8;
    color: white;
    padding: 2vh 3vw;
    transition: 0.2s ease;
}

.des-pro-but:hover{
    border: 1px solid #19BAA8;
    color: #19BAA8;
    background-color: white;
}